In [3]:
#2 Week7_Store Data Sample.xlsx –р үүсгэсэн Series-үүдээ ашиглан DataFrame үүгэнэ үү.

import pandas as pd

tt = pd.read_excel(r'C:\Users\student\Downloads\Week7_Store Data Sample.xlsx')

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300,2,0.00,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500,3,0.00,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100,2,0.00,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800,5,0.00,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150,2,0.00,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,Гишүүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300,1,0.03,3201.0
96,CA-2017-161018,2017-11-09,AJ-10945,Гишүүн,Сүхбаатар,Самар чипс,Lays чипс 80 гр,2300,7,0.03,15617.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500,3,0.00,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000,6,0.00,12000.0
99,CA-2016-158568,2016-08-29,DK-12835,Гишүүн,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800,7,0.03,12222.0

In [4]:
#1 Week7_Store Data Sample.xlsx файлын багана тус бүрээр Series үүсгэнэ үү

tt['Order ID']

0     CA-2016-152156
1     CA-2016-152156
2     CA-2016-138688
3     US-2015-108966
4     US-2015-108966
           ...
95    US-2017-109484
96    CA-2017-161018
97    CA-2017-157833
98    CA-2016-149223
99    CA-2016-158568
Name: Order ID, Length: 100, dtype: object

In [5]:
tt['Order Date']

0    2016-11-08
1    2016-11-08
2    2016-06-12
3    2015-10-11
4    2015-10-11
        ...
95   2017-11-06
96   2017-11-09
97   2017-06-17
98   2016-09-06
99   2016-08-29
Name: Order Date, Length: 100, dtype: datetime64[ns]

In [6]:
tt['Customer ID']

0     EB-13930
1     EB-13930
2     MO-17950
3     JO-15550
4     JO-15550
        ...
95    JR-15700
96    AJ-10945
97    BM-11575
98    CV-12805
99    DK-12835
Name: Customer ID, Length: 100, dtype: object

In [7]:
tt['Segment']

0        Хувь хүн
1        Хувь хүн
2     Байгууллага
3        Хувь хүн
4        Хувь хүн
         ...
95         Гишүүн
96         Гишүүн
97       Хувь хүн
98    Байгууллага
99         Гишүүн
Name: Segment, Length: 100, dtype: object

In [8]:
tt['Region']

0      Баянзүрх
1      Баянзүрх
2       Хан-Уул
3      Баянзүрх
4      Баянзүрх
        ...
95      Хан-Уул
96    Сүхбаатар
97      Хан-Уул
98    Чингэлтэй
99    Чингэлтэй
Name: Region, Length: 100, dtype: object

In [9]:
tt['Category']

0                      Чихэр, печенье
1              OO ийн цаас, сальфетка
2                      Чихэр, печенье
3                           Хиам бууз
4                            Ундаа ус
                   ...
95    Компот варенье, хүүхдийн тэжээл
96                         Самар чипс
97               Набор, шоколад, бохь
98                          Архи пиво
99                       Бэлэн гоймон
Name: Category, Length: 100, dtype: object

In [10]:
tt['Product Name']

0          Shokolinsen 250 гр
1         Хэрэглээ 00ийн цаас
2     Алимтай жигнэмэг 230 гр
3         Золотой янта 500 гр
4                Punch 450 мл
               ...
95              Hainich нухаш
96            Lays чипс 80 гр
97             Монстров 23 гр
98                Арвай 0.100
99       Тэйсти гоймон 110 гр
Name: Product Name, Length: 100, dtype: object

In [11]:
tt['Price']

0     3300
1      500
2     3100
3     2800
4     1150
      ...
95    3300
96    2300
97     500
98    2000
99    1800
Name: Price, Length: 100, dtype: int64

In [12]:
tt['Quantity']

0     2
1     3
2     2
3     5
4     2
     ..
95    1
96    7
97    3
98    6
99    7
Name: Quantity, Length: 100, dtype: int64

In [13]:
tt['Discount']

0     0.00
1     0.00
2     0.00
3     0.00
4     0.00
      ...
95    0.03
96    0.03
97    0.00
98    0.00
99    0.03
Name: Discount, Length: 100, dtype: float64

In [14]:
tt['Sales']

0      6600.0
1      1500.0
2      6200.0
3     14000.0
4      2300.0
       ...
95     3201.0
96    15617.0
97     1500.0
98    12000.0
99    12222.0
Name: Sales, Length: 100, dtype: float64